.jumbotron {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}


input#firstname, input#lastname, input#email, input#name_project {
    padding: 5px 10px;
    margin: 5px;
    min-width: 300px;
}

button#submit {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.participant {
    margin-top: 10px;
    min-width: 300px; 
}